.inicio-container{
    color: whitesmoke;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box; /* Incluye padding en el cálculo del ancho */
}


.portada-destacado {
    background-color: #3b4440;
    border-left: 5px solid #2c7be5;
    padding: 25px;
    margin: 20px 0;
    border-radius: 8px;
}

.titulo-principal {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: whitesmoke;
    transition: color 0.3s;
}

.titulo-principal:hover {
  color: #ffcc00;
  text-decoration: underline;
}

.destacado-box {
    margin-top: 10px;
    background-color: rgb(20, 4, 4);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


.contacto-box {
    background-color: #010305;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px dashed #2c7be5;
    overflow-wrap: break-word;
}

.email-link {
    color: #2b6cb0;
    font-weight: bold;
    text-decoration: none;
    word-break: break-word;
}

@media (max-width: 600px) {
    .contacto-box p {
        line-height: 1.5; /* Mejor espaciado en móviles */
    }
}
.email-link:hover {
    text-decoration: underline;
}