.resultados-container {
    color: whitesmoke;
    
}

.partido-card {
  background-color: #1f1a20;
  border: 1px ridge orange;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.7);
  padding: 15px;
  border-radius: 8px;
  color: white;
  font-weight: 400;
  white-space: nowrap; /* Evita saltos de línea */
  overflow: hidden; /* Opcional: maneja texto muy largo */
  text-overflow: ellipsis; /* Opcional: añade "..." si el texto es muy largo */
}

.partido-card p {
  margin: 0; /* Elimina márgenes del párrafo */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  gap: 8px; /* Espacio entre elementos */
}