.resultados-container {
    color: whitesmoke;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box; /* Incluye padding en el cálculo del ancho */
}

.selector-fechas {
    margin: 20px 0;
    text-align: center;
}

.fecha-actual {
    margin: 0;
    color: whitesmoke;
    font-weight: 400;
    font-size: 1.1rem;
}

.select-fecha {
    background-color: #1f1a20;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
}


.titulo-fecha {
    text-align: center;
    margin: 20px 0;
    color: whitesmoke;
    font-weight: 300;
    text-transform: capitalize;
}

.partidos-grid {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.partido-card {
    padding: 12px 0;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.equipo-local {
    text-align: right;
    padding-right: 15px;
}

.marcador {
    text-align: center;
    padding: 0 10px;
    font-weight: 500;
}

.equipo-visitante {
    text-align: left;
    padding-left: 15px;
}

/* Estilos para el estado de carga y error */
.loading, .error {
    text-align: center;
    margin: 20px 0;
}

.error {
    color: #ff6b6b;
}