.torneos-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: whitesmoke;
}

.lista-torneos {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.lista-torneos li {
  margin-bottom: 10px;
}

.boton-torneo, .boton-anteriores, .boton-volver {
  background-color: #1f1a20;
  color: white;
  border: 1px solid orange;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  width: 100%;
  text-align: left;
}

.boton-anteriores {
  background-color: orange;
  color: #1f1a20;
  font-weight: bold;
  margin: 15px 0;
  text-align: center;
}

.boton-volver {
  margin-bottom: 20px;
  width: auto;
}

.boton-torneo:hover, .boton-anteriores:hover, .boton-volver:hover {
  background-color: #0056b3;
  color: white;
}

.detalle-torneo {
  margin-top: 20px;
}

h1, h2 {
  color: orange;
  text-align: center;
}

p {
  text-align: center;
}