.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: white(20, 20, 20, 0.9);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  z-index: 5;
}

.footer-link {
  color: #e1306c; 
  font-weight: bold;
  text-decoration: none;
}
.footer-link:hover {
  color: #ffcc00; /* color al pasar el mouse */
  text-decoration: underline;
}