/* Estilo barra de navegacion */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #171c21; 
  backdrop-filter: blur(6px);

  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 2rem;
  z-index: 1000;
}

.logo {
  height: 6rem;
  width: auto;
  margin-right: auto; /* fuerza a que el logo quede a la izquierda */
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2rem;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #61dafb;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.nav-link:hover {
  color: #61dafb;
}

/* Submenú oculto por defecto (controlado por React) */
/* Contenedor del dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Botón principal */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  font-weight: 500; /*igual que nav-links a*/
}

/* Submenú oculto por defecto */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4f7ab3;
  min-width: 3rem;
  z-index: 1;
  top: 100%;
  left: 0;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(92, 1, 1, 0.3);
}

/* Mostrar submenú al hacer hover en .dropdown */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Estilo de los enlaces del submenú */
.dropdown-content a {
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #026e72;
}
