/* Estilo barra de navegacion */
.navbar {
  position: fixed;
  top: 2rem;
  width: 100%;
  background: #d1834f; 
  backdrop-filter: blur(6px);

  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 1rem; /* menos padding horizontal */
  height: 3.5rem;   /* altura fija más finita */
  z-index: 1000;
}

.barra-superior {
  position: fixed;
  top: 0;
  width: 100%;
  height: 2rem;
  background-color: #222;
  color: white;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  z-index: 1100;
}

.logo {
  height: 3rem;
  width: auto;
  margin-right: auto;
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #61dafb;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.nav-link:hover {
  color: #61dafb;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  color: black;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(31, 26, 32);
  min-width: 3rem;
  z-index: 1;
  top: 100%;
  left: 0;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(92, 1, 1, 0.3);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #026e72;
}

/* Ícono hamburguesa */
.navbar-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #d1834f; /* naranja */
  position: fixed;
  top: 3.5rem;
  right: 1rem;
  z-index: 1300;
  user-select: none;
  background: white;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
}

@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }
}

/* =============================== */
/* Estilos para pantallas chicas  */
/* =============================== */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .logo {
    height: 4rem;
    margin-bottom: 1rem;
  }

  .nav-center {
    position: static;
    transform: none;
    width: 100%;
  }

  .navbar-toggle {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .dropdown-content {
    position: static;
    box-shadow: none;
    background-color: transparent;
  }

  .dropdown-content a {
    color: black;
    padding-left: 1.5rem;
  }

  .dropbtn {
    padding-left: 0;
  }
}
