.principal {
  text-align: center;
  padding-top: 5rem;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Siempre fijo */
  background-image: url("/public/fondo.png");
}

/* Imagen para móviles - MANTENER fixed */
@media (max-width: 768px) {
  .principal {
    background-image: url("/public/fondo_movil.png");
    
  }
}

/* Para móviles muy pequeños */
@media (max-width: 480px) {
  .principal {
    background-image: url("/public/fondo_movil.png");
   
  }
}