.principal {
  text-align: center;
  background-color: rgb(31, 26, 32);
  padding-top: 5rem; /* o el alto del navbar */
  min-height: 100vh; /* para que ocupe toda la pantalla verticalmente */
}
.principal h1 {
  color: whitesmoke;
  font-family: verdana;
  font-size: 5rem;
}
.App-link {
  color: #61dafb;
}

